@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.snakeGame {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    /* 🔹 오락기 배경 전체 적용 */
    background: url("../img/back.png") center center no-repeat;
    background-size: cover;
    background-color: #000;
    background-attachment: fixed;
    /* 화면 꽉 채움 (모바일 9:16 대응) */
    width: 100%;
    height: 100dvh;
    color: #00ff0a;
    font-family: "Press Start 2P", system-ui;
    font-display: swap;
    font-size: 12px;
    user-select: none;
    /* 터치 관련 */
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}


canvas {
    /* 컨텍스트 메뉴 방지 */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    /* 이미지 드래그 방지 */
    -webkit-user-drag: none;
}